header {
  text-align: center;
  padding: 100px;
}

.app-logo {
  width: 100vh;
  pointer-events: none;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  background-color: cornsilk;
}

.row {
  padding: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: coral;
}
