header {
  text-align: center;
  padding: 40px;
}

.app-logo {
  width: 100%;
  pointer-events: none;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 1fr 1fr;
  background-color: cornsilk;
}

.row {
  padding: 20px;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  background-color: coral;
}

/* Message Box */
.message-box {
  background-color: beige;
  padding: 10px;
  border-radius: 20px;
}

.message-box textarea, .message-box button {
  width: 100%;
}
